<a href="https://colab.research.google.com/github/AnIsAsPe/Estadistica_y_Probabilidad_para-CD-/blob/main/Semana7/Notebooks/Construcci%C3%B3n_csv_Bicis_NY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


[Fuente de datos](https://opendata.cityofnewyork.us/)

In [2]:
import numpy as np
import pandas as pd

In [3]:
#!wget -c "https://data.cityofnewyork.us/download/gua4-p9wg/NYCDOT_Bicycle_Counts_2017-_East_River_Bridges.zip.zip"
#!unzip "/content/NYCDOT_Bicycle_Counts_2017-_East_River_Bridges.zip.zip"  -d "/content/drive/MyDrive/Datos/Bicis_EastRiver_NY"

In [4]:
def ReadData():
    
    carpeta = "/content/drive/MyDrive/Datos/Bicis_EastRiver_NY/2017 Monthly Bike Count Totals for East River Bridges"
    
    # encontrar todos los archivos xlsx en la carpeta
    import glob 
    data_files = glob.glob(carpeta + '/*.xlsx')
    
    # Leer cada archivo de excel utilizando pd.read_excel 
    dfs = []
    for file in data_files:
        dfs.append( pd.read_excel(file, skiprows=5, parse_dates=[0,1], 
                                  nrows=31, usecols=range(1,11)) )
    
    # Unir todos los dataframes
    df = pd.concat(dfs)
    
    # # Utilizar Data como inicie
    df = df.set_index('Date')
    df = df.drop('Day', axis=1)  #igual a Date

    return df

In [5]:
df = ReadData()
df

                     High Temp (°F) Low Temp (°F)  ... Queensboro Bridge    Total
Date                                               ...
2017-04-01 00:00:00            46.0            37  ...            1430.0   5397.0
2017-04-02 00:00:00            62.1            41  ...            2862.0  13033.0
2017-04-03 00:00:00            63.0            50  ...            3689.0  16325.0
2017-04-04 00:00:00            51.1            46  ...            1666.0   6581.0
2017-04-05 00:00:00            63.0            46  ...            4197.0  17991.0
...                             ...           ...  ...               ...      ...
2017-10-27 00:00:00            62.1            48  ...            5181.0  20391.0
2017-10-28 00:00:00            68.0          55.9  ...            4069.0  15938.0
2017-10-29 00:00:00            64.9            61  ...             965.0   2835.0
2017-10-30 00:00:00            55.0            46  ...            2924.0  10865.0
2017-10-31 00:00:00            54.0            44  ...            4883.0  19101.0

[217 rows x 8 columns]

In [6]:
df.to_csv('Bicis_NY.csv')